#movies {
    position: fixed;
    top:6%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 99%;
    opacity: 0.7;
    color: white;
}

#movies td, #movies th {
    border: 2px solid #7f7f7f;
    padding: 8px;
    text-align: left;
}

/*#movies tr:nth-child(even){background-color: #f2f2f2;}*/

#movies tr:hover {background-color: #7a7a84;opacity: 0.7;}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #444444;
    color: #00aba9;
    font-size: 20px;
    font-weight: bolder;
    
}
